.App {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 70px;
}

.navButtons {
  display: flex;
  gap: 40px;
}

.navButton {
  border: none;
  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
}

.button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color:hsl(0, 0%, 100%);
  border: none;
  padding: 15px 70px;
  border-radius: 25px;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.getStartedContainer {
  text-align: center;
  color:hsl(0, 0%, 100%);
}

.icons-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 200px;
}

.icon-box {
  flex: 1 1 45%;
  /* margin:; */
}

.icon-box img {
  max-width: 100%;
  height: auto;
}

/* .icon-box h2 {  } */

/* .icon-box p { } */
