.App {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 80px;
}

.navButtons {
  display: flex;
  gap: 40px;
}

.navButton {
  border: none;
  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
}

.button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 15px 80px;
  border-radius: 25px;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.firstIntroIllustration {
  width: 33%;
  margin: 65px 0 30px;
}

.firstHeader,
.firstHeaderSubText {
  margin: 0 auto;
  max-width: 700px;
}

.firstHeaderSubText {
  max-width: 500px;
  margin: 45px auto 25px;
}

.container {
  min-height: 100vh;
  position: relative;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 50px;
  z-index: 1;
}

.background-image {
  position: absolute;
  top: 530px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.icons-and-testimonials-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 500px));
  gap: 0px 80px;
  justify-content: center;
  margin: 250px 0 0;
  height: 100vh;
  width: 100vw;
  background-color: hsl(218, 28%, 13%);
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 440px;
  margin: 0 auto 0;
  height: 20%;
}

.icon-box-3,
.icon-box-4 {
  margin-bottom: auto;
}

.icon-box img {
  max-width: 100%;
  height: auto;
}

.icon-box h2 {
  margin-bottom: 0;
}

.icon-box p {
  margin-top: 10px;
}

.productive-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  padding: 0 150px 200px 150px; 
}

.productive-section-text {
  max-width: 50%;
  margin-left: 60px;
}

footer {
  height: 100%;
  background-color: hsl(216, 53%, 9%);
}
